<a href="https://colab.research.google.com/github/YASM1989/ejerciciosprogramacion/blob/main/Copia_de_Copia_de_Copia_de_Copia_de_Copia_de_Copia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")

Hola mundo

# **Varibles**

In [ ]:
NombreP = "Carlos Diaz"
print(NombreP)

Carlos Diaz

**EDAD**

In [ ]:
edad = 22
print(edad)
edad = "Diana Velez"
print (edad)

22
Diana Velez

In [ ]:
val = True
print(val)

True

In [ ]:
nombreP = " Carlos"
apellido = "Diaz"

print (nombreP + " " + apellido)
print( nombreP * 6)

 Carlos Diaz
 Carlos Carlos Carlos Carlos Carlos Carlos

## **COMENTARIOS**

1. Documentación
2. Pruebas

In [ ]:
# Variable para almacenar el teléfono
telefono = 3112022585
nombre = "Daian Velex"
# Muestra el valor de la variable telefono
print(telefono)
print(nombre)

3112022585
Daian Velex

In [ ]:
nombrePer = input("Digite su nombre: ")
print(nombrePer)

Digite su nombre: yasson
yasson

In [ ]:
# Variable para almacenar Número de identificación
Número_de_identificación = input("Número_de_identificación: ")
print(Número_de_identificación)
# Variable para almacenar Nombres
Nombres = input("Nombres: ")
print(Nombres)
# Variable para almacenar Apellidos
Apellidos = input("Apellidos: ")
print(Apellidos)
# Variable para almacenar Dirección
Dirección = input("Dirección: ")
print(Dirección)
# Variable para almacenar Teléfono
Teléfono = input("Teléfono: ")
print(Teléfono)
# Variable para alamcenar Edad
Edad = input("Edad: ")
print(Edad)
# Variable para almacenar Estado Civil
Estado_Civil = input("Estado_Civil: ")
print(Estado_Civil)
# Variable para almacenar Número_de_hijos
Número_de_hijos = input("Número_de_hijos: ")
print(Número_de_hijos)
# Variable para almacenar Estatura_en_Centímetros
Estatura_en_Centímetros = input("Estatura_en_Centímetros: ")
print(Estatura_en_Centímetros)
# Variable para almacenar Fecha_de_Contratación_día_mes_año
Fecha_de_Contratación_día_mes_año = input("Fecha_de_Contratación_día_mes_año")
print(Fecha_de_Contratación_día_mes_año)
# Variable para almacenar Sueldo_Básico
Sueldo_Básico = input("Sueldo_Básico")
print(Sueldo_Básico)
# Variable para almacenar Días_Laborados
Días_Laborados = input("Días_Laborados")
print(Días_Laborados)

Número_de_identificación: 80074183
80074183
Nombres: Yasson Andrés
Yasson Andrés
Apellidos: Santos Madrigal
Santos Madrigal
Dirección: Cra 18A 4A 36
Cra 18A 4A 36
Teléfono: 3006110331
3006110331
Edad: 38
38
Estado_Civil: Soltero
Soltero
Número_de_hijos: 0
0
Estatura_en_Centímetros: 170 Cms.
170 Cms.
Fecha_de_Contratación_día_mes_año27/'2/2023
27/'2/2023
Sueldo_Básico14.000.000
14.000.000
Días_Laborados30
30

# **OPERADORES MATEMATICOS EN PYTHON**

In [ ]:
num1 = 7
num2 = 6
res = num1 + num2
print(res)

13

In [ ]:
#Por default (input)=#enteros siempre me captura -> Datos tipo Strik (Concatena Información)
num1 = input("Digite el número1: ")
num2 = input("Digite el número2: ")
res = num1 + num2
print(res)

Digite el número1: 2
Digite el número2: Carlos
2Carlos

In [ ]:
#Por default input siempre me captura -> con (int). QUEDA DESHABILITADA Y AHORA INTERPRETA o VALIDA LA INFO SOLICITADA SEA NUMERICA 
num1 = int(input("Digite el número1: ")) 
num2 = int(input("Digite el número2: ")) 
res = num1 + num2
print(res)

Digite el número1: 8
Digite el número2: 9
17

In [ ]:
#Por default input siempre me captura -> con Float es un formato de salida de datos en este caso numeros como:  
num1 = float(input("Digite el número1: "))
num2 = float(input("Digite el número2: "))
res = num1 + num2
print(res)

Digite el número1: 1.2
Digite el número2: 2.5
3.7

In [ ]:
#Por default input siempre me captura ->(str) es redundante y se puede llevar a cabo con(int) |.format =formato de salida de datos   
num1 = int(input("Digite el número1: ")) 
num2 = int(input("Digite el número2: ")) 
res = num1 + num2
print("El resultado es= {}".format(res))

Digite el número1: 2
Digite el número2: 3
El resultado es= 5

In [ ]:
#Por default input siempre me captura ->(str) es redundante y se puede llevar a cabo con(int) |.format =formato de salida de datos   
num1 = int(input("Digite el número1: ")) 
num2 = int(input("Digite el número2: ")) 
res = num1 + num2
print("La suma entre {} y {} es= {}".format(num1, num2, res))

Digite el número1: 2
Digite el número2: 3
La suma entre 2 y 3 es= 5

In [ ]:
#El comando corto de (format) es f y esta línea de escritura cumple ejecuta lo mismo   
num1 = int(input("Digite el número1: ")) 
num2 = int(input("Digite el número2: ")) 
res = num1 + num2
print(f"La suma entre {num1} y {num2} es= {res}")

Digite el número1: 2
Digite el número2: 3
La suma entre 2 y 3 es= 5

# Calculadora +*/- **texto en negrita**

In [ ]:
num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))

suma = num1 + num2
resta = num1 - num2
multi = num1 * num2
divi = num1 / num2
#Ahora con format

#suma
print("El resultado de la Suma es= {}".format(suma))

Digite el número 1: 10
Digite el número 2: 5
El resultado de la Suma es= 15

In [ ]:
#resta

print("El resultado de la resta es= {}".format(resta))

El resultado de la resta es= 5

In [ ]:
#multi

print("El resultado de la multiplicación es= {}".format(multi))

El resultado de la multiplicación es= 50

In [ ]:
#divi

print("El resultado de la divi es= {}".format(divi))

El resultado de la divi es= 2.0

# **TALLER EN CLASE**

Se recibe una venta por concepto de un producto se requiere aplicar el iva (19%) y concoer el total a pagar con el iva incluido

In [ ]:
# variable para capturar la venta
venta = float (input("¿Cuánto fue el total de la compra?"))
#Cálculo del iva
iva = venta *0.19
#Suma del iva y el valor de la venta 
total = venta + iva
# Muestro por pantalla el total con el iva
print("EL IVA es = ${:,.0f} y el total a pagar es = ${:,.0f}".format(iva,total))

¿Cuánto fue el total de la compra?900000
EL IVA es = $171,000 y el total a pagar es = $1,071,000

Se requiere conocer el promedio general de una materia que está dada por tres 

*   Elemento de lista
*   Elemento de lista

calificaciones

In [ ]:
cal1 = float(input("Digite la calificación 1: "))
cal2 = float(input("Digite la calificación 2: "))
cal3 = float(input("Digite la calificación 3: "))

prom = round((cal1 + cal2 +cal3) / 3,2)

print (f"El promedio es= {prom}")

Digite la calificación 1: 2.2
Digite la calificación 2: 3.7
Digite la calificación 3: 4.5
El promedio es= 3.47

# **TALLER REFUERZO SESIÓN**
1.
Un vendedor recibe un sueldo base más un 10% extra por
comisión de sus ventas, el vendedor desea saber cuánto
dinero obtendrá por concepto de comisiones por las tres
ventas que realiza en el mes y el total que recibirá en
el mes tomando en cuenta su sueldo base y comisiones.

In [ ]:
venta1 = float(input("Digite la venta1: "))
venta2 = float(input("Digite la venta2: "))
venta3 = float(input("Digite la venta3: "))

total_comisión = round((venta1*0.10 + venta2*0.10 +venta3*0.10))

#suma
print("Comisión total es= {}".format(total_comisión))

# variable para capturar salario base
salario_base = float (input("¿salario base asesor?"))

#Suma del total comisión y salario base 
total = total_comisión + salario_base

# Muestro por pantalla el total con el iva
print("La comisión total a pagar es = ${:,.0f} y el neto total (salario+comisón) a pagar es = ${:,.0f}".format(total_comisión,total))

Digite la venta1: 100000
Digite la venta2: 100000
Digite la venta3: 100000
Comisión total es= 30000
¿salario base asesor?1000000
La comisión total a pagar es = $30,000 y el neto total (salario+comisón) a pagar es = $1,030,000

2. **Una tienda ofrece un descuento del 15% sobre el total
de la compra y un cliente desea saber cuánto deberá
pagar finalmente por su compra**

In [ ]:
# variable para capturar la venta
venta = float (input("¿Cuánto fue el total de la compra?"))
#Cálculo del descuento
Dcto = venta *0.15
#Resta del descuento y el valor de la venta 
total = venta - Dcto
# Muestro por pantalla el total con el iva
print("El Dcto es = ${:,.0f} y el total a pagar es = ${:,.0f}".format(Dcto,total))

¿Cuánto fue el total de la compra?1000000
El Dcto es = $150,000 y el total a pagar es = $850,000

Se necesita un sistema para un supermercado, el cual dará un 10% de descuento a las personas que compren más de $1000000 de lo contrario no dará ningún descuento, al cliente se ñe debe de dar el total a pagar. Condicional.

**${:,0f}** es nuestro formato de contabilidad.

In [ ]:
 compra = float(input("¿Cuanto fue el total de compra?: $"))

if compra > 1000000:
  descu = compra * 0.10
  total = compra - descu
  print("El descuento es= ${:,.0f} y el total de la compra es= ${:,.0f}".format(descu, total))
else:
  print("No tiene descuento, el total a pagar es= ${:,.0f}".format(compra))

¿Cuanto fue el total de compra?: $1200000
El descuento es= $120,000 y el total de la compra es= $1,080,000

3. **Un alumno desea saber cuál será su calificación final en
la materia de Algoritmos. Dicha calificación se compone
de tres exámenes parciales.**

In [ ]:
Nota1 = float(input("Digite la calificación 1: "))
Nota2 = float(input("Digite la calificación 2: "))
Nota3 = float(input("Digite la calificación 3: "))

prom = round((Nota1 + Nota2 +Nota3) / 3,2)

print (f"El promedio es= {prom}")

4.**Un maestro desea saber qué porcentaje de hombres y que
porcentaje de mujeres hay en un grupo de estudiantes.**

In [ ]:
# variable para capturar total mujeres
mujeres= float (input("¿Ingresa total mujeres del grupo?"))

# variable para capturar total hombre
hombres= float (input("¿Ingresa total hombres del grupo?"))

print("El porcentaje de mujeres del grupo es:",(mujeres/(mujeres + hombres))* 100)

print("El porcentaje de hombres del grupo es:",(hombres/(mujeres + hombres))* 100)

¿Ingresa total mujeres del grupo?8
¿Ingresa total hombres del grupo?2
El porcentaje de mujeres del grupo es: 80.0
El porcentaje de hombres del grupo es: 20.0

# ***SENTENCIAS CONDICIONALES EN PYTHON***

In [ ]:
#Comparativo de fuerte igualdad (==)
num1 = 4
num2 = 6

if num1 == num2:

  print("Los números son iguales")
else:
  print("Los números NO son iguales")

Los números NO son iguales

Otro ejemplo de comparación

In [ ]:
usuario = input("Digite su usuario: ")
passrowd = input("Digite su contraseña: ")
if usuario == "carlosd":

  print("El usario es correcto!")
else:
  print("El usuario es incorrecto!")

Digite su usuariocarlosd
El uusario es correcto!

## **OPERADORES RELACIONALES**

**>** mayor que, **<** menor que,  **>=** mayor o igual que, **==** extrictamente igual que, **!=** diferente que, ambos debe ser iguales **and**, uno de los debe ser Verdadero **or**, **in** texto inmerso en otro

In [ ]:
 num = int(input("Digite el número: "))

 if num > 20:
    print("El número es mayor a 20")
 elif num > 15:
   print("El número es mayor a 15")
 elif num > 10:
   print("El número es mayor a 10")
 elif num > 5:
   print("El número es mayor a 5")
 else:
    print("No se cumple ninguna condición!!!")

Digite el número: 2
No se cumple ninguna condición!!!

# **Ejemplo condicionales**

In [ ]:
edad = int(input("Digite su edad: "))

if edad >= 13 and edad < 20:
  print("Eres un Adolescente")
else:
  Print("NO eres un Adolescente")

Digite su edad: 17
Eres un Adolescente

# **EL OPERADOR (in)** Habla del  inmerso ej en este caso se busca la condicional con (if) este inmersa en (in) la variable (...) y no admite datos NUMERICOS SOLO TEXTOO

In [ ]:
palabra = input("Digite la palabra: ")

if palabra in "lina catalina": 
  print("Verdadero!!")
else:
  print("falso--")

Digite la palabra: cata
Verdadero!!

# **Taller 2:**

Dando continuidad con la primer entrega del proyecto, en esta oportunidad el estuiante debe relizar las siguientes validaciones utilizando la sentencia condicional if.
1. Si el empleado es mayor de 55 años disfrutará de un bono preprensión correspondiente al 5% de su suelto básico.
2. Si el empleado es casado y tiene hijos se le otorgará un paseo cada diciembre.
3. Si el sueldo básico está entre 1000000 y 1500000 tendrá una comisión del 2% sobre el valor del sueldo; si el sueldo básico está entre 1500001 y 2000000 tendrá una comisión del 5% sobre el valor del sueldo; para todos los demás casos no habrá comisión.
4. Si el empleado trabajó más de 20 días al mes y su sueldo es menor a 1000000 tendrá derecho a un bono de alimentación.

In [ ]:
edad = float(input("Digite la edad: "))
salario = float(input("Digite el salario: $"))

bono = (salario*0.05)

#suma
print("Bono prepensional total es= {}".format(bono))

#Suma del total comisión y salario base 
total = bono + salario

if edad >= 55:
# Muestro por pantalla el total con bono prepensional
 print("Usted es mayor de 55 años y el bono prepensional a pagar es = ${:,.0f} y el neto total (salario+bono) a pagar es = ${:,.0f}".format(bono,total))

else:
 print("Usted NO es mayor de 55 años, el total a pagar es= ${:,.0f}".format(salario))

In [ ]:
estado_civil = input("Digite su estado_civil: ")
num_hijos = int(input("Digite su num_hijos : "))

#condicional
if estado_civil == "casado" and num_hijos > 0:
  print("Obtienes paseo en diciembre")
else:
  print("NO Obtienes paseo en diciembre")

In [ ]:
#variable captura sueldo_basico
sueldo_basico = float(input("Digite el sueldo_basico: $"))

#condicional
if sueldo_basico >= 1000000 and sueldo_basico <= 1500000:
  comision = sueldo_basico * 0.02
  salario_total = sueldo_basico + comision
  print("El sueldo_basico es de ${:,.0f}, por lo anterior tiene una comision de ${:,.0f} y el salario_total a pagar es de ${:,.0f}".format(sueldo_basico,comision,salario_total))
elif sueldo_basico >= 1500001 and sueldo_basico <= 2000000:
  comision = sueldo_basico * 0.05
  salario_total = sueldo_basico + comision
  print("El sueldo_basico es de ${:,.0f}, por lo anterior tiene una comision de ${:,.0f} y el salario_total a pagar es de ${:,.0f}".format(sueldo_basico,comision,salario_total))
else:
  print("El sueldo_basico es de ${:,.0f}, por lo anterior NO tiene comision" .format(sueldo_basico))

In [ ]:
#variable captura sueldo_basico
sueldo = float(input("Digite el sueldo empleado: $"))
dias_laborados = int(input("Digite dias laborados por el empleado: ")) 

#condicional
if sueldo <= 1000000 and dias_laborados >= 20:
  print("Por trabajar {} dias del mes y devengar un salario de ${:,.0f} usted tiene derecho a un bono de alimentacion".format(dias_laborados,sueldo))
else:
  print("Usted no tiene derecho a bono de alimentación")

# ***CICLOS REPETITIVOS***

# **CICLO FOR**

como imprime con **[ ]**

In [ ]:
for w in [1234]:
  print(w)

1234

Como se itera con **( )**

In [ ]:
for w in (1,2,3,4):
  print (w)

1
2
3
4

# Como se itera con **" "** sirve textual

In [ ]:
for w in "1,2,3,4":
  print (w)

1
,
2
,
3
,
4

In [ ]:
for w in "Yasson":
  print (w)

Y
a
s
s
o
n

# FUNCION **range (star, stop, step)**

Cuando solo se pasa 1 parámetro a la función Range por defaul se le debe indicar donde se hace (stop). Esta funcion realiza 6 iteraciones y nos muestra 6 posiciones, tomando en cuenta el número cero (0) hasta el (5). No imprime números sino posiciones.

In [ ]:
for i in range(6):
  print (i)

0
1
2
3
4
5

In [ ]:
for i in range(11):
  print (i)

0
1
2
3
4
5
6
7
8
9
10

Acá se muestra que inicia desde la posición (3) y tomará (11) posiciones

In [ ]:
for i in range(3,11):
  print (i)

3
4
5
6
7
8
9
10

Acá se muestra que inicia desde la posición (3) vaya hasta la posición (11) y sume o camine de (2) en (2) con: for i in range(3,11,2):

In [ ]:
for i in range(3,11,2):
  print (i)

3
5
7
9

Con las funcion for y range, yo puedo mostrar el número de veces que yo le pida que lo haga e incluso que me muestre la iteración o posición que está ocupando.

In [ ]:
nombre = input("Digite su nombre: ")

for i in range(6):
  print(i,nombre)

Digite su nombre: Yasson
0 Yasson
1 Yasson
2 Yasson
3 Yasson
4 Yasson
5 Yasson

Escribir un programa que realice la tabla de multiplicar de un número digitado por teclado

In [ ]:
num = int(input("Digite el número de la tabla de multiplicar : "))

for i in range (11):
  print(i,"X",num, "=", i * num)

 **VARIABLES ACUMULADORAS**

 Escriba un programa que me sume los números pares del 0 al 10 y saque el total de la suma.

In [ ]:
#variable acumuladoras
acu = 0

for i in range(0,11,2):
  #print(i)
  acu = acu + i
  print(f"El total de la suma de los números pares del 0 a la pos = {i} es= {acu}")

El total de la suma de los números pares del 0 a la pos = 0 es= 0
El total de la suma de los números pares del 0 a la pos = 2 es= 2
El total de la suma de los números pares del 0 a la pos = 4 es= 6
El total de la suma de los números pares del 0 a la pos = 6 es= 12
El total de la suma de los números pares del 0 a la pos = 8 es= 20
El total de la suma de los números pares del 0 a la pos = 10 es= 30

Pero si solo quiero observar el resultado de la línea final, solo debo sacar el último print y se le quita la sangría o tap que le antecede y como puede observar se vera solo la línea final:

In [ ]:
#variable acumuladoras
acu = 0

for i in range(0,11,2):
  #print(i)
  acu = acu + i
print(f"El total de la suma de los números pares del 0-10 es= {acu}")

El total de la suma de los números pares del 0-10 es= 30

**CICLO WHILE PYTHON**

La sentencia o bucle (while) en python es una sentencia de control de flujo que se utiliza para ejecutar un bloque de instrucciones de forma continuada mientras se cumpla una condición determinada. 
while (A = True), si es verdad vuelve y se ejecuta el ciclo, de lo contrario se detiene el ciclo.
Syntaxis de escritura es: 

**while** *condición* **(:)**=> siempre terminamos la instrucción. 
  bloque de código
  modificar variable condicional y terminamos la instrucción con *(:).*

  Ejemplos:

In [ ]:
x = 0
while x < 10:
  print(x)
  x = x + 1

0
1
2
3
4
5
6
7
8
9

El ciclo while también me permite  realizar comparación de números

In [ ]:
a = 5
b = 100
c = 10

while a * c < b:
  a = a + 5
  c = c - 1
print("a={}, b{}, c{}".format(a,b,c))

a=15, b100, c8

Así mismo yo puedo agregar un ciclo dentro de otro ciclo, como veremos a continución en el mismo ejercicio ejecutado anteriormente. 
Posteriormente se selecciona desde la linea 3 hasta la 10 y se selecciona y se le agrega un tap para brindar identación o sangría y por ultimo

In [ ]:
resp = "si"
while resp == "si":
  a = 5
  b = 100
  c = 10

  while a * c < b:
    a = a + 5
    c = c - 1
  print("a={}, b{}, c{}".format(a,b,c))
  resp = input("¿Desea ejecutar de nuevo?(si/no)")

a=15, b100, c8
¿Desea ejecutar de nuevo?(si/no)si
a=15, b100, c8
¿Desea ejecutar de nuevo?(si/no)si
a=15, b100, c8

Si meto un valor distinto de **(si)** ejemplo **(SI)** este ultimo no lo toma, sin embargo puedo hacerlo validar con la función **(or)**

In [ ]:
resp = "si"
while resp == "si" or resp =="SI":
  a = 5
  b = 100
  c = 10

  while a * c < b:
    a = a + 5
    c = c - 1
  print("a={}, b{}, c{}".format(a,b,c))
  resp = input("¿Desea ejecutar de nuevo?(si/no)")

a=15, b100, c8
¿Desea ejecutar de nuevo?(si/no)SI
a=15, b100, c8
¿Desea ejecutar de nuevo?(si/no)si
a=15, b100, c8
¿Desea ejecutar de nuevo?(si/no)no

Se reuiere un sw que calcule promedio de tres materias, si es >= 3.0 el estado es Aprueba sino Reprueba, el sistema debe preguntar si desea realizar el cálculo de nuevo, en el caso de que la respuesta sea afirmativa lo debe realizar de nuevo

## ***Tarea encontrar un ejercicio y aplicar ciclos***

In [ ]:
resp = "si"
while resp == "si" or resp =="SI" or resp=="yes":
  cal1 = float(input("Digite la calificación 1:"))
  cal2 = float(input("Digite la calificación 2:"))
  cal3 = float(input("Digite la calificación 3:"))

  prom = round((cal1 + cal2 + cal3 )/3, 2)

  if prom >= 3.0:
    estado = "Aprueba++"
  else:
    estado = "Reprueba--"
  print(f"El promedio={prom} y el estado es= {estado}")
  resp = input("¿Desea cácular otras 3 califiaciones?: ")

Digite la calificación 1:3
Digite la calificación 2:3.5
Digite la calificación 3:4
El promedio=3.5 y el estado es= Aprueba++
¿Desea cácular otras 3 califiaciones?: si
Digite la calificación 1:1
Digite la calificación 2:3
Digite la calificación 3:2
El promedio=2.0 y el estado es= Reprueba--
¿Desea cácular otras 3 califiaciones?: yes
Digite la calificación 1:5
Digite la calificación 2:5
Digite la calificación 3:4.8
El promedio=4.93 y el estado es= Aprueba++
¿Desea cácular otras 3 califiaciones?: no

In [ ]:
resp = "si"
while resp == "si":
  num = int(input("Digite el número de la tabla de multiplicar : "))

  for i in range (11):
    print(i,"X",num, "=", i * num)
  resp = input("¿Desea cácular otra tabla de multiplicar?: ")

Digite el número de la tabla de multiplicar : 3
0 X 3 = 0
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
¿Desea cácular otra tabla de multiplicar?: si
Digite el número de la tabla de multiplicar : 4
0 X 4 = 0
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

In [1]:
resp = "si"
while resp == "si" or resp =="SI" or resp=="yes":
  #variable captura sueldo_basico
  sueldo = float(input("Digite el sueldo empleado: $"))
  dias_laborados = int(input("Digite dias laborados por el empleado: ")) 

  #condicional
  if sueldo <= 1000000 and dias_laborados >= 20:
    print("Por trabajar {} dias del mes y devengar un salario de ${:,.0f} usted tiene derecho a un bono de alimentacion".format(dias_laborados,sueldo))
  else:
    print("Usted no tiene derecho a bono de alimentación")
  resp = input("¿Desea validar otro empleado ?: ")

Usted no tiene derecho a bono de alimentación
Por trabajar 30 dias del mes y devengar un salario de $900,000 usted tiene derecho a un bono de alimentacion
¿Desea validar otro empleado ?: no

# ***FUNCIONES EN PHYTON***

Declaración de una Función una **variable Local** está dentro de la función **varible Global** está fuera de la función

In [ ]:
def suma():
  num1 = 4
  num2 = 6
  res = num1 + num2 
  print(f"El resultado es= {res}")
suma()

El resultado es= 10

In [ ]:
def suma():
  num1 = 4
  num2 = 6
  res = num1 + num2 
  print(f"El resultado es= {res}")

num1 = int(input("Digite el número 1: "))
num1 = int(input("Digite el número 2: "))
#print (res)
suma(num1, num2)

Digite el número 1: 2
Digite el número 2: 2
El resultado es= 10

In [6]:
def suma(n1, n2):
  
  res = n1 + n2 
  print(f"El resultado es= {res}")

num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))
#print(n1)
suma(num1, num2)

Digite el número 1: 10
Digite el número 2: 10
El resultado es= 20

**FUNCIONES PARA DEVOLVER O RETORNAR EL RESULTADO**

In [7]:
def suma(n1, n2):
  
  res = n1 + n2 
  return res

num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))
#print(n1)
suma(num1, num2)

Digite el número 1: 5
Digite el número 2: 5

10

**en esta incluiremos el ejercicio anterior, ahora incluyendo mejoras en el resultado de salida en el mensaje.**

In [8]:
def suma(n1, n2):
  
  res = n1 + n2 
  return res

num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))
#print(n1)
resultado = suma (num1,num2)
print(f"El resultado es = {resultado}")

Digite el número 1: 5
Digite el número 2: 5
El resultado es = 10

In [10]:
x = 4 
def oper(a):
  a = a * a
  return a 
resultado = oper (x)
print(resultado)

16

In [11]:
x = 6
def oper(a):
  x = a * a
  
oper(x)
resultado = x
print(resultado)

6

**Otro ejemplo en clase**

In [13]:
def saludar(nom):
  print("Hola " + nom + "!!!")


nombre = input("Digote su nombre para ser saludado: ")
saludar(nombre)

Digote su nombre para ser saludado: YASSON
Hola YASSON!!!

En este podemos apreciar el ejemplo anterior y añadiremos un ciclo WHILE

In [17]:
def saludar(nom):
  print("Hola " + nom + "!!!")

resp = "si"
while resp == "si" or resp =="SI":
  nombre = input("Digíte su nombre para ser saludado: ")
  saludar(nombre)
  resp = input("¿Desea saludar otra persona ")

Digíte su nombre para ser saludado: YASSON
Hola YASSON!!!
¿Desea saludar otra persona SI
Digíte su nombre para ser saludado: THOT
Hola THOT!!!
¿Desea saludar otra persona NO

Necesitamos saber si el usuario es alto o chaparro. Chaparro es aquel que mide cuando mucho 1.50 mts. Debe preguntar si desea realizarlo de nuevo.

In [19]:
def valestatura(est):
  if est >1.50:
    print("Eres una persona ALTA")
  else:
    print("Eres una persona CHAPARRA")

resp = "si"
while resp == "si":
  estatura = float(input("Digíte su estatura: "))
  valestatura(estatura)
  resp= input ("Desea realizar otra comparación? ")

Digíte su estatura: 1.70
Eres una persona ALTA
Desea realizar otra comparación? si
Digíte su estatura: 1.30
Eres una persona CHAPARRA
Desea realizar otra comparación? si
Digíte su estatura: 1.80
Eres una persona ALTA
Desea realizar otra comparación? no